.ibox-tools {
    margin-top: 35px;
}
.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}
.control-label {
    padding-top: 0px!important;
}
.required-star {
    color: red;
}
.delete-button-style {
    float: right;
}

