.ibox-tools {
    margin-top: 35px;
}
.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.required-star {
    color: red;
}
.delete-button-style {
    float: right;
}
.center{
    text-align: center;
}
.fs-btn-danger{
    border-radius: 5px;
    padding: 5px 5px 5px 5px !important;
    width: 40px;
    height: 40px;
    border: navajowhite;
    font-size: 21px;
}
.fs-btn-success{
    border-radius: 5px;
    padding: 5px 5px 5px 5px !important;
    width: 40px;
    height: 40px;
    border: navajowhite;
    font-size: 21px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
    text-align: center;
}


